@mixin flex(
  $direction: row,
  $justifyContent: flex-start,
  $alignItems: center,
  $gap: 10px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}

@mixin loading-animation {
  animation: skeleton-loading 1s linear infinite alternate;

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(217, 20%, 85%);
    }
    100% {
      background-color: hsl(217, 20%, 90%);
    }
  }
}

@mixin fadein-animation {
  transform: rotate(20deg);

  animation: fadeIn 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
    }
  }

  @-moz-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
    }
  }

  @-o-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
    }
  }
}

@mixin gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    349deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(216, 82, 61, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
