.container {
  height: 70%;

  border-radius: 25px;

  background-color: #fff;
}

.carousel {
  height: 25%;

  border-radius: 25px;

  background-color: #fff;
}

app-search-book {
  height: 100%;
  border-radius: 25px;

  background-color: #fff;
}
