@import "../styles/mixins";
@import "../styles/theme";

.header {
  height: 40px;

  color: $font-primary;
  font-size: 18px;

  img {
    width: 36px;
    height: 36px;

    border-radius: 50%;
  }

  div {
    height: 100%;
    @include flex();
  }

  mat-icon {
    cursor: pointer;
  }
}

.backdrop {
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
}
