@import "../../../styles/mixins";
@import "../../../styles/theme";

.book {
  background-color: $primary;

  min-height: 220px;

  display: flex;

  &__cover {
    width: 150px;

    @include flex($justifyContent: center);

    img {
      width: 120px;
    }
  }

  &__info {
    padding: 8px;

    flex: 1;
    @include flex($direction: column);

    &-title {
      font-size: 22px;
      color: darken($font-primary, 80%);
    }

    &-authors {
      @include flex($gap: 15px);

      span {
        color: $accent;

        padding: 3px;
        border: 1px solid $accent;
        border-radius: 8px;
      }
    }

    &-description {
      height: 80px;
      color: $font-primary;

      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__actions {
    width: 60%;

    @include flex($justifyContent: space-between);

    select {
      all: unset;

      width: 50%;

      text-align: center;
      color: $font-primary;
    }

    button {
      background-color: $accent;
      color: #fff;

      padding: 10px 15px;
      border-radius: 30px;

      cursor: pointer;

      text-align: center;
    }

    span {
      color: $accent;

      width: 100%;

      text-align: center;
    }
  }
}
