@import "./styles/mixins";

.app {
  box-sizing: border-box;

  height: 100vh;

  position: relative;

  padding: 0 20px;

  @include flex($direction: column, $gap: 0, $alignItems: flex-end);

  div {
    width: 100%;
    height: 100%;

    @include flex($gap: 25px);
  }
}

::ng-deep app-content,
::ng-deep app-search-book,
::ng-deep app-book,
::ng-deep app-auth {
  height: 90vh;

  @include flex($direction: column, $justifyContent: space-between);
  flex: 1;
}
