<div class="container">
  <div class="dashboard-title">
    Dashboard

    <mat-icon (click)="changePage('search')">add</mat-icon>
  </div>

  <div class="items">
    <button class="dashboard-item" (click)="changePage('read')">
      <div>
        <span class="number">{{ books.read }}</span>
        <span>Livros</span>
      </div>
      Lidos
    </button>

    <button class="dashboard-item" (click)="changePage('reading')">
      <div>
        <span class="number">{{ books.reading }}</span>
        <span>Livros</span>
      </div>
      Lendo
    </button>

    <button class="dashboard-item" (click)="changePage('to-read')">
      <div>
        <span class="number">{{ books.toRead }}</span>
        <span>Livros</span>
      </div>
      Quero Ler
    </button>

    <button class="dashboard-item" (click)="changePage('have')">
      <div>
        <span class="number">{{ books.have }}</span>
        <span>Livros</span>
      </div>
      Tenho
    </button>
  </div>
</div>
