@import "../styles/mixins";
@import "../styles/theme";

.dashboard {
  box-sizing: border-box;
  width: 350px;
  height: 90vh;

  border-radius: 25px;
  padding: 20px;

  background-color: white;

  &__title {
    @include flex($justifyContent: space-between);

    padding: 15px 0;
    margin-bottom: 25px;

    color: $font-primary;
    font-size: 30px;
    font-weight: bold;
  }

  mat-icon {
    font-size: 28px;

    color: $font-primary;

    cursor: pointer;
  }

  &__items {
    @include flex($direction: column, $alignItems: space-between, $gap: 30px);

    .item {
      font-size: 22px;

      color: $font-primary;

      @include flex($gap: 30px);

      padding: 10px;

      cursor: pointer;
    }

    div {
      @include flex($direction: column);
    }

    .number {
      font-size: 30px;
    }
  }
}
