<div class="dashboard">
  <div class="dashboard__title">
    Book Notes

    <mat-icon routerLink="/search">search</mat-icon>
  </div>

  <div class="dashboard__items">
    <button class="item" routerLink="/read">
      <div>
        <span class="number">{{ books.read }}</span>
        <span>Livros</span>
      </div>
      Lidos
    </button>

    <button class="item" routerLink="/reading">
      <div>
        <span class="number">{{ books.reading }}</span>
        <span>Livros</span>
      </div>
      Lendo
    </button>

    <button class="item" routerLink="/to-read">
      <div>
        <span class="number">{{ books.toRead }}</span>
        <span>Livros</span>
      </div>
      Quero Ler
    </button>

    <button class="item">
      <div>
        <span class="number">{{ books.have }}</span>
        <span>Livros</span>
      </div>
      Tenho
    </button>
  </div>
</div>
